@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.step-active {
  display: block;
  animation: fadeIn 0.4s ease-out forwards;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-delay: 0s !important;
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}
.sidebar-bg {
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 48rem) {
  .sidebar-bg {
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    background-size: cover;
    background-position: center;
  }
}
